<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Reset Complete</title>
  </head>
  <body>
    <div class="container" style="margin-top: 40px">
      <div class="row">
        <div class="col-sm-12">
          <div class="horizontal-container">
            <div class="horizontal-form-box">
              <div class="horizontal-info-container text-center">
                <img
                  src="https://static.stayjapan.com/assets/top/icon/values-7dd5c8966d7a6bf57dc4bcd11b2156e82a4fd0da94a26aecb560b6949efad2be.svg"
                />
                <div>
                  <p style="margin-top: 3rem" class="horizontal-heading">
                    Password Reset Completed!
                  </p>
                  <h1 style="font-size: 7.5vw">Great !</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
